In [1]:
# bool value
a = True
b = False
c = a+b
print(c)

1

In [2]:
# bool value
a = True
b = True
c = a+b
print(c)

2

In [5]:
# bool value
a = True
b = False
c = a*b
print(c)

0

In [8]:
a = 2 + 3j
print(type(a))

<class 'complex'>

In [10]:
# int() float() str() bool()
a = 10
print(float(a))

10.0
10

In [12]:
b = str(a)
b

'10'

In [20]:
a = 10.5
b = int(a)
b

10

In [17]:
a = 10
print(bool(a))

True

In [18]:
a = "10"
b = int(a)
b

10

In [19]:
a = "Ten"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'Ten'

In [21]:
# input()
a = input()
print(a)

10
10

In [29]:
a = input("Enter a = ")
print(type(a))

Enter a = Ram
<class 'str'>

In [32]:
a = int(input("Enter a = "))
b = int(input("Enter a = "))
c = a+b
print(c)

Enter a = 10
Enter a = 20
30

In [33]:
p = float(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100

print("The value of i = ",i)

Enter p = 10000
Enter t = 10
Enter r = 10.5
The value of i =  10500.0

In [38]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Hello World I am Ram I am from Kathmandu I am 34