In [1]:
# Dictionary
# -Indexing
# -Ordered
# -Multiple and duplicate value
# -Mutable

In [2]:
d = dict()

In [3]:
# d = {<key>:<value>, <key>:<Value>,...}

In [1]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','a':'Ant'}
print(d)
print(type(d))

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
<class 'dict'>

In [7]:
for i in d:
    print(i, end = " ")

a b c d

In [8]:
for i in d.values():
    print(i, end = " ")

Apple Ball Cat Dog

In [9]:
for i in d.items():
    print(i, end = " ")

('a', 'Apple') ('b', 'Ball') ('c', 'Cat') ('d', 'Dog')

In [10]:
d = [['a', 'Apple'], ['b', 'Ball'], ['c', 'Cat'], ['d', 'Dog']] 
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [11]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog','a':'Ant'}
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [12]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog','A':'Ant'}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Ant'}

In [13]:
# No + - * /

In [14]:
#create
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone no = "))
    d[name] = phone
    
print(d)

Enter n = 1
Enter name = Ram
Enter phone no = 9808778765
{'Ram': 9808778765}

In [22]:
# list inside dict
d = {'Ram':[9808778765,9843667654],'Shyam':[9808889123,9867889075]}
print(d)
print(d['Ram'])
print(d['Ram'][1])

{'Ram': [9808778765, 9843667654], 'Shyam': [9808889123, 9867889075]}
[9808778765, 9843667654]
9843667654

In [23]:
# WAP to create above dict format

In [25]:
# Update
d = {'Ram':9867887654,'Shyam':9808778765}
d['Ram'] = 9808000000
d

{'Ram': 9808000000, 'Shyam': 9808778765}

In [26]:
#Add
d = {'Ram':9867887654,'Shyam':9808778765}
d['Rama'] = 9808000000
d

{'Ram': 9867887654, 'Shyam': 9808778765, 'Rama': 9808000000}

In [27]:
# delete
# del pop
d = {'Ram': 9867887654, 'Shyam': 9808778765, 'Rama': 9808000000}
del d['Rama']
print(d)

{'Ram': 9867887654, 'Shyam': 9808778765}

In [29]:
d = {'Ram': 9867887654, 'Shyam': 9808778765, 'Rama': 9808000000}
c = d.pop('Rama')
print(d)
print(c)

{'Ram': 9867887654, 'Shyam': 9808778765}
9808000000

In [30]:
# list inside dict
#d = {'Ram':[9808778765,9843667654],'Shyam':[9808889123,9867889075]}
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone no = "))
    ncell_phone = int(input("Enter ncell phone no = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone no = 9867889876
Enter ncell phone no = 9808778765
Enter name = Shyam
Enter ntc phone no = 984566765
Enter ncell phone no = 9808778765
{'Ram': [9867889876, 9808778765], 'Shyam': [984566765, 9808778765]}

In [1]:
# d = {'name':['Ram','Shyam','Hari','Ram'],
#      'ntc':[9845667654,9845778765,9845667654,984566543],
#      'ncell':[9808778765,9808445432,9808556543,9808667654]}

In [4]:
d = {'name':[],'ntc':[],'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
    
d

In [3]:
print(d['name'][0],d['ntc'][0],d['ncell'][0])

Ram 9867889876 9808778765

In [7]:
# dict inside dict
d = {1:{'name':'Ram','age':45,'add':'Kathmandu'},
     2:{'name':'Rama','age':56,'add':'Bhatapur'}}

print(d[1])
print(d[1]['name'])

{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}
Ram

In [ ]:
# WAP to create above dict inside dict and do CRUD operation
# WAP to create billing application using list inside list and dict inside dict and CRUD
# WAP to create tuple inside tuple
# WAP to convert tuple inside tuple to list inside list

In [2]:
# d = [{'name':'Ram','age':34,'add':'Kathmandu'},
#     {'name':'Ram','age':67,'add':'Kathmandu'}]

In [ ]:
# d = {'name':['Ram','Ram','Hari','Ram'],
#      'age':[54,98,67,67],
#      'add':[9808778765,9808445432,9808556543,9808667654]}

In [ ]:
{1:{'name':'Ram','age':34,'add':'Kathmandu'},
 2:{'name':'Ram','age':34,'add':'Kathmandu'}}