In [1]:
# file = open('<file_name>','<mode>')
# file.close()

In [2]:
# modes
# create  -> x
# read    -> r
# write   -> w
# append  -> a

In [3]:
file = open('data.txt','x')
file.close()

In [4]:
file = open('data.txt','r')
data = file.read()
print(data)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [5]:
type(data)

str

In [7]:
data.split('\n')

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [8]:
data.split('\n')[1]

'2. Hello World'

In [9]:
file = open('data1.txt','w')
file.write("Hello World")
file.close()

In [13]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + f"{name} \t{price} \t{qty} \t{total}\n"

file = open('bill.txt','w')
file.write('Name \tPrice \tQty \tTotal\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 300
Enter qty = 4
Enter product name = Banana
Enter price = 200
Enter qty = 3

In [14]:
file = open('bill.txt','r')
data = file.read()
print(data)
file.close()

Name 	Price 	Qty 	Total
Apple 	300 	4.0 	1200.0
Banana 	200 	3.0 	600.0

In [28]:
a = "Apple_Ball_Cat"
a.split('_')

['Apple', 'Ball', 'Cat']

In [30]:
data

'Name \tPrice \tQty \tTotal\nApple \t300 \t4.0 \t1200.0\nBanana \t200 \t3.0 \t600.0\n'

In [26]:
list_data = data.split('\n')
list_data
# for i in list_data:
#     print(i)

['Name \tPrice \tQty \tTotal',
 'Apple \t300 \t4.0 \t1200.0',
 'Banana \t200 \t3.0 \t600.0',
 '']

In [25]:
list_data = data.split('\n')[:-1]
for i in list_data:
    print(i.split(' \t'))

['Name', 'Price', 'Qty', 'Total']
['Apple', '300', '4.0', '1200.0']
['Banana', '200', '3.0', '600.0']

In [31]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + f"{name},{price},{qty},{total}\n"

file = open('bill.csv','w')
file.write('Name,Price,Qty,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter product name = Apple
Enter price = 300
Enter qty = 3
Enter product name = Banana
Enter price = 2
Enter qty = 100

In [32]:
pwd

'C:\\Users\\Aayush\\Python-4pm'

In [33]:
import pandas as pd
df = pd.read_csv('bill.csv')
df              #dataframe

     Name  Price    Qty  Total
0   Apple    300    3.0  900.0
1  Banana      2  100.0  200.0

In [2]:
file = open('data1.csv','w')
file.write('''sn,name,age,add,phone\n
1,Ram,45,Kathmandu,9808778755\n
2,Shyam,34,Bhaktapur,9808778765\n
3,Hari,67,Lalitpur,9808667654\n
4,Nabin,34,Jhapa,980445654\n
5,Sita,32,Chitwan,9807556543\n
''')
file.close()