In [1]:
# Python collection
# List
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [2]:
a = list()
#a = []
b = [34,54,34,76,89,67,90,]
print(type(b))

<class 'list'>

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0])
print(a[0:4])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Fish']

In [7]:
b = [34,54,34,76,89,67,90,]
print(b)

[34, 54, 34, 76, 89, 67, 90]

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = [1,2,3,4,5,6,7,8,9,]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [12]:
# append() insert() extend()

In [13]:
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [14]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 5
Enter x = 23
Enter x = 456
Enter x = 324
Enter x = 768
Enter x = 34
[23, 456, 324, 768, 34]

In [17]:
print("Min value = ",min(l))
print("Max value = ",max(l))
print("Sum value = ",sum(l))
print("Avg value = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

Min value =  23
Max value =  768
Sum value =  1605
Avg value =  321.0
[23, 34, 324, 456, 768]
[768, 456, 324, 34, 23]

In [18]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter n = 5
Enter x = Ball
Enter x = Apple
Enter x = Zebra
Enter x = coke
Enter x = fish
['Ball', 'Apple', 'Zebra', 'coke', 'fish']

In [19]:
l.sort()
print(l)

['Apple', 'Ball', 'Zebra', 'coke', 'fish']

In [20]:
#insert
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
a.insert(1,"apple")
print(a)

['Apple', 'apple', 'Ball', 'Zebra', 'coke', 'fish']

In [21]:
#Extend
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Apple', 'Ball', 'Zebra', 'coke', 'fish', 1, 2, 3, 4, 5]

In [23]:
# update
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
a[0] = 'apple'
a

['apple', 'Ball', 'Zebra', 'coke', 'fish']

In [31]:
# update
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
a[3:4] = ["Cat","Dog"]
a

['Apple', 'Ball', 'Zebra', 'Cat', 'Dog', 'fish']

In [26]:
a[2]

'Cat'

In [ ]:
# delete
# del remove() pop()

In [33]:
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
del a[0]
print(a)

['Ball', 'Zebra', 'coke', 'fish']

In [34]:
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
del a[0:2]
print(a)

['Zebra', 'coke', 'fish']

In [35]:
a = ['Apple', 'Ball', 'Zebra', 'coke', 'fish']
a.remove("Apple")
print(a)

['Ball', 'Zebra', 'coke', 'fish']

In [37]:
a = ['Apple', 'Ball', 'Zebra',"Apple", 'coke', 'fish',"Apple"]
c = a.count("Apple")
for i in range(c):
    a.remove("Apple")
    
print(a)

['Ball', 'Zebra', 'coke', 'fish']

In [43]:
a = ['Apple', 'Ball', 'Zebra',"Apple", 'coke', 'fish',"Apple"]
l = len(a)
for i in range(l):
    if a[i] == "Apple":
        print(i)

0
3
6

In [44]:
a = ['Apple', 'Ball', 'Zebra',"Apple", 'coke', 'fish',"Apple"]
a.pop()
a

['Apple', 'Ball', 'Zebra', 'Apple', 'coke', 'fish']

In [45]:
a = ['Apple', 'Ball', 'Zebra',"Apple", 'coke', 'fish',"Apple"]
a.pop(5)
a

['Apple', 'Ball', 'Zebra', 'Apple', 'coke', 'Apple']

In [1]:
# nested list

In [2]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [4]:
a = [['name','age','add'],
    ['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur']]
print(type(a))
print(a)

<class 'list'>
[['name', 'age', 'add'], ['Ram', 45, 'Kathmandu'], ['Shyam', 56, 'Bhaktapur'], ['Hari', 89, 'Lalitpur']]

In [12]:
print(len(a))
print(a[0])
print(a[1][0])

4
['name', 'age', 'add']
Ram

In [13]:
# a = [['Ram',45,'Kathmandu'],
#     ['Shyam',56,'Bhaktapur'],
#     ['Hari',89,'Lalitpur']]

l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
[['Ram', 89, 'Kathmandu'], ['Shyam', 89, 'Bhaktapur']]

In [22]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur'],
    ['Ram',45,'Kathmandu']]
for i in a:
    print(i[0].lower())

ram
shyam
hari
ram

In [18]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur'],
    ['Ram',75,'Kathmandu']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = ram

In [25]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur'],
    ['Ramesh',75,'Kathmandu']]
name = input("Enter name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']
['Ramesh', 75, 'Kathmandu']

In [28]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur'],
    ['Ram',75,'Kathmandu']]
name = input("Enter name = ")
for i in a:
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 45, 'Kathmandu']
['Ram', 75, 'Kathmandu']

In [29]:
a = ['Ram','Shyam','Ram','Hari','Ram']
for i in a:
    print(i)

Ram
Shyam
Ram
Hari
Ram

In [32]:
a = ['Ram','Shyam','Ram','Hari','Ram']
c = len(a)
for i in range(c):
    if "Ram" == a[i]:
        print(i)

0
2
4

In [38]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',56,'Bhaktapur'],
    ['Hari',89,'Lalitpur'],
    ['Ram',75,'Kathmandu']]
c = len(a)
name = input("Enter name = ")

for i in range(c):
    if name.lower() == a[i][0].loewer()
        print(i)

Enter name = Ram
0
3

In [ ]:
# WAP to create a matrix
# r -> ?
# c -> ?
# x -> ?