In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\aayush\anaconda3\lib\site-packages (8.3.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for plotly: [Errno 2] No such file or directory: 'c:\\users\\aayush\\anaconda3\\lib\\site-packages\\plotly-5.14.1.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aayush\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\aayush\anaconda3\lib\site-packages)

In [1]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "pythonclass4_pm"
)

db = database.cursor()

In [4]:
# Select all data
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 89, 68, 98, 76, 88, 410, 82.0, 'A')
(2, 'Shyam', 90, 87, 79, 98, 89, 450, 85.0, 'A')
(3, 'Hari', 89, 90, 87, 90, 86, 460, 88.0, 'A')
(4, 'Sabin', 99, 90, 87, 90, 86, 480, 94.0, 'A')
(5, 'Sabin', 99, 90, 87, 90, 86, 480, 94.0, 'A')
(6, 'Nabin', 99, 90, 87, 90, 86, 480, 94.0, 'A')

In [5]:
# Select all data
db.execute("SELECT name,total,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

('Ram', 410, 'A')
('Shyam', 450, 'A')
('Hari', 460, 'A')
('Sabin', 480, 'A')
('Sabin', 480, 'A')
('Nabin', 480, 'A')

In [9]:
# Select all data
db.execute("SELECT * FROM student WHERE grade = 'B'")
result =db.fetchall()
for x in result:
    print(x)

(6, 'Nabin', 99, 90, 87, 90, 86, 480, 94.0, 'B')

In [3]:
#insert data
sql = '''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
VALUES ('Krishna', 78, 98, 89, 77, 88, 400, 82.5, 'A')'''
db.execute(sql)
database.commit()

In [13]:
#Update
sql = "UPDATE student SET name = 'Shree Krishna' WHERE sn = 11"
db.execute(sql)
database.commit()

In [14]:
# delete
sql = "DELETE FROM student WHERE sn = 11 "
db.execute(sql)
database.commit()

In [ ]:
# WAP to insert data into database taking data from user