In [1]:
# set
# -No indexing
# -Multiple but no duplicate value
# -unordered
# -mutable

In [2]:
s = set()

In [5]:
s = {1,2,3,4,5,6,7,8,9,1}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [6]:
a = {'Ball',"Apple","Cat","Ant","Zebra"}
print(a)

{'Apple', 'Ball', 'Zebra', 'Ant', 'Cat'}

In [11]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Ball', 'Apple', 'Cat'}

In [12]:
a = {'Ball', 'Apple', 'Cat'}
a.remove('Ball')
a

{'Apple', 'Cat'}

In [13]:
# No + - * /

In [14]:
# update
a = {1,2,3,4}
b = {6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 6, 7, 8, 9}

In [17]:
a = {"Ram","Shyam","Sita","Nabin","Sahil"}
b = {"Hari","Ram","Sita","Krishna","Bharat"}

In [18]:
#union
print(a.union(b))

{'Bharat', 'Ram', 'Sita', 'Nabin', 'Sahil', 'Krishna', 'Shyam', 'Hari'}

In [19]:
print(a.intersection(b))

{'Ram', 'Sita'}

In [21]:
print(a.difference(b))

{'Shyam', 'Nabin', 'Sahil'}

In [22]:
print(b.difference(a))

{'Krishna', 'Bharat', 'Hari'}

In [23]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,2,3}
print(b.issubset(a))

True

In [24]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,2,3}
print(a.issuperset(b))

True