In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [7]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [8]:
a = "Python"
l = len(a)
print(l)

6

In [10]:
a = "Python"
l = len(a)
for i in range(l):
    print(a[i])

P
y
t
h
o
n

In [25]:
a = "Python"
print(a[0])
print(a[-1])
print(a[0:5])
print(a[0:6:2])

P
n
Pytho
Pto

In [30]:
a = "Python"
print(a[-1:-7:-1])
print(a[: :-1])

nohtyP
nohtyP

In [31]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = RAm
Enter age = 67
Enter add = Kathmandu
Hello World I am RAm. I am from Kathmandu. I am 67

In [40]:
a = "Ram Shyam Hari Sita Rira Sabin Ramesh"
print(a.count("ram"))

0

In [43]:
a = "Ram Shyam Hari Sita Rita Sabin Ramesh"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA RITA SABIN RAMESH
ram shyam hari sita rita sabin ramesh
Ram Shyam Hari Sita Rita Sabin Ramesh

In [45]:
#search in string
a = "Ram Shyam Hari Sita Rira Sabin".lower()
search = input("Enter value for search = ").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter value for search = RAM
Yes
1

In [47]:
#replace
a = "Ram Shyam Hari Sita Rira Sabin Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Rira Sabin Ramaesh

In [49]:
a = "Ram Shyam Hari Sita Rira Sabin"
a = a.replace("Ram","")
print(a)

 Shyam Hari Sita Rira Sabin

In [50]:
a = "Ram Shyam Hari Sita Rira Sabin"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Rira', 'Sabin']