In [1]:
# Tuple
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Imutable

In [2]:
a = tuple()

In [3]:
a = (1,2,3,4,5,6,7,8,9)
print(type(a))

<class 'tuple'>

In [5]:
a = ("Apple","Ball","Cat","Dog","Apple")
print(a[0])

Apple

In [9]:
a = (1,)
type(a)

tuple

In [10]:
# No append() insert() extend()
# No update
# No del pop() remove()
# No sort()

In [11]:
t = tuple()
for i in range(5):
    x = int(input("Enter x = "))
    t = t + (x,)
    
print(t)

Enter x = 45
Enter x = 67
Enter x = 43
Enter x = 56
Enter x = 87
(45, 67, 43, 56, 87)

In [12]:
a = (1,2,3)
b = (5,6,7)
c = a+b
print(c)

(1, 2, 3, 5, 6, 7)

In [13]:
a = (1, 2, 3, 5, 6, 7)
b = list(a)
b

[1, 2, 3, 5, 6, 7]

In [15]:
a = (1, 2, 3, 5, 6, 7)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3, 5, 6, 7)

In [ ]:
# min() max() sum()
# index()
# search
# for loop